<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Logo</title>
        <component name="sw-media-field">
            <name>shizzleAdminLogo</name>
            <label>Upload media or choose one from the media manager</label>
        </component>
    </card>

    <card>
        <title>Dashboard homepage</title>
        <input-field type="text">
            <name>shizzleAdminWelcomeTitle</name>
            <label>Welcome title</label>
        </input-field>

        <input-field type="text">
            <name>shizzleAdminWelcomeMessage</name>
            <label>Welcome message</label>
        </input-field>
    </card>

</config>
