{% block sw_dashboard_index_content_intro_content_headline %}
    <h1 class="sw-dashboard-index__welcome-title">
        <span v-if="adminWelcomeTitle">{{ adminWelcomeTitle }}</span>
        <span v-else>{{ welcomeMessage }}</span>
    </h1>
{% endblock %}

{% block sw_dashboard_index_content_intro_welcome_message %}
    <p class="sw-dashboard-index__welcome-message">
        <span v-if="adminWelcomeMessage">{{ adminWelcomeMessage }}</span>
        <span v-else>{{ welcomeSubline }}</span>
    </p>
{% endblock %}
